@model List<webBiletProje.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";       ////P@ssWord123
}

@section BodyClass {}
<table>
    <tr>
        <td>User Email</td>
        <td>User Name</td>
        <td>Surname</td>
        <td>Phone Number</td>
        <td>User SSN</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><p>@item.Email</p></td>
            <td> <p>@item.FirstName</p></td>
            <td><p>@item.Surname</p></td>
            <td><p>@item.Numberphone</p></td>
            <td><p>@item.SSN</p></td>
        </tr>
    }
</table>


    }




